* {
  font-family: Poppins, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

nav {
  padding-inline: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 90%;
  background-color: white;
  height: 60px;
}

a {
  text-decoration: none;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  color: #6070ff;
}

.desktop-menu a:active,
.desktop-menu a:visited {
  color: #344563;
}

.desktop-menu a:hover,
.desktop-menu a:link {
  color: #6070ff;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

li {
  display: flex;
  padding: 12px;
  background-color: whitesmoke;
  border-radius: 8px;
  font-weight: bolder;
  gap: 16px;
  align-items: center;
}

nav ul {
  gap: 8px;
}

nav li {
  font-weight: 500;
  background-color: transparent;
  font-size: 15px;
}

.logo {
  color: #6070ff;
  font-size: 18px;
}

.mobile-menu {
  display: block;
}

.desktop-menu {
  display: none;
}

p {
  color: #344563;
  margin: 0;
}

h1,
h2 {
  margin: 0;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
}

h3 {
  margin: 0;
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
}

.headline {
  min-height: 100vh;
  border-bottom-left-radius: 80px;
  background-color: white;
  padding: 0 7%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/header-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-heading {
  color: #7f8cff;
  font-weight: bolder;
}

.social-icon {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.works-section {
  display: grid;
  padding: 114px 0;
}

.card {
  padding: 16px;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  background-color: white;
  font-size: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-image {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.project-description {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  align-items: center;
  font-size: 13px;
}

.dot {
  margin-inline: 20px;
  font-size: 10px;
  color: #7a869a;
}

.tags-section {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.tag {
  border-radius: 8px;
  font-size: 12px;
  padding: 4px 12px 4px;
  color: #6070ff;
  background-color: #ebebff;
  font-weight: 500;
}

.alignment-start {
  align-self: start;
}

.button {
  font-size: 17px;
  color: #6070ff;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  border-style: solid;
  cursor: pointer;
  transition: 0.3s;
}

.button:enabled {
  border-color: #7f8cff;
  background-color: white;
}

.button:focus {
  border-color: #2230d2;
  background-color: #2230d2;
  color: white;
  outline: none;
}

.button:disabled {
  color: #5e6c84;
}

.contact-form .button {
  align-self: start;
}

.button:enabled:hover {
  border-color: #7f8cff;
  background-color: #7f8cff;
  color: white;
  box-shadow: 4px 4px rgba(127, 140, 255, 0.25);
}

.button:focus:hover {
  border-color: #2230d2;
  background-color: #2230d2;
  color: white;
  outline: none;
}

.about-section {
  border-top-right-radius: 80px;
  background-color: white;
  padding: 114px 7%;
  display: flex;
  gap: 60px;
  flex-direction: column;
}

.about-myself {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 50%;
}

.languages-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 50%;
}

.list-heading {
  padding: 10px;
  display: flex;
  font-weight: bolder;
  font-size: 20px;
  color: #172b4d;
  align-items: baseline;
  justify-content: space-between;
}

i {
  margin-inline: 10px;
}

.white-background {
  background-color: white;
}

.contact-section {
  border-top-left-radius: 80px;
  background-color: #6070ff;
  padding: 114px 7% 50px;
  background-image: url(../images/contact-form-background.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.width-constraint-container {
  max-width: 800px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.contact-section h2,
.contact-section p {
  color: white;
  text-align: center;
}

.contact-section p {
  font-size: 17px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 40px;
}

input,
textarea {
  padding: 15px;
  font-size: 17px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #b3bac5;
}

.heading-color { color: #172b4d; }

.project-details-color { color: #7a869a; }

.blank-space { height: 50px; }

@media (min-width: 800px) {
  .card {
    flex-direction: row;
    gap: 24px;
    padding: 24px;
    font-size: 16px;
  }

  .project-description {
    gap: 24px;
    padding: 24px;
  }

  .card:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .headline {
    padding: 0 20%;
  }

  .about-section {
    padding: 142px 10%;
    flex-direction: row;
  }

  ul {
    flex-direction: row;
  }

  li {
    flex-direction: column;
    align-items: start;
  }

  .contact-section {
    padding: 142px 20%;
  }

  .width-constraint-container {
    padding-inline: 20%;
  }

  .contact-form .button {
    align-self: center;
  }

  .desktop-menu {
    display: block;
  }

  .mobile-menu {
    display: none;
  }

  nav {
    height: 72px;
  }

  .blank-space {
    height: 72px;
  }

  h1 {
    font-size: 48px;
  }

  .headline p {
    font-size: 20px;
  }

  .contact-section p {
    font-size: 18px;
  }

  .project-details {
    font-size: 18px;
  }
}
